body {
    background: palevioletred;
    font-family: 'Times New Roman', Times, serif;
}

.assignment{
    display:flex;
    padding:15px;
    margin:10px;
    background:beige
}

.assignment img {
    width:200px;
    padding:15px;
}

h1{
    color:palegreen;
    text-align: center;
    
}