/* Structure */
#main-header {
    text-align: center;
    background-color: white;
}

#main-content {
    background-color: blue;
    padding: 5px;
}

#main-footer {
    background-color: purple;
    padding: 5px;
}

/* Column Styles */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.col1o2,
.col1o3,
.col1o4,
.col2o3,
.col2o4 {
    flex: 1;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

.col1o2{
    background-color: antiquewhite;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    flex: 1;
}

.col1o3,
.col2o3{
    background-color: azure;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    flex: 1;
}

/* Navigation */
#main-header {
    background-color: white;
    
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

#main-nav li {
    margin-right: 10px;
    text-align: center;
}

#main-nav a {
    text-decoration: none;
    background: #F2BDC2;
    padding: 5px;
    color: white;
    border-radius: 2px;
}

#main-nav a:hover {
    color: #91A681;
}

/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header h1 {
    text-align: center;
}

#main-content h2 {
    color: white;
}

#main-footer p {
    text-align: center;
}
#placeholder {
    text-align: center;
}

/* Larger Resolution (600px) */
@media (min-width: 600px) {
    .col1o2,
    .col1o3,
    .col1o4,
    .col2o3,
    .col2o4 {
        flex: 1;
    }
    body {
        background-color: lightblue;
    }
    .col2o3,
    .col2o4 {
        flex: 2;
    }
}
