/* Structure */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Navigation */
.horizontal-list {
    list-style: none;
    padding: 0;
    display: flex;
    text-align: center;
}

.horizontal-list li {
    margin-right: 10px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

/* List links */
ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0079c2;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #ff9900;
}

/* Additional styles for specific sections */
#colleges-schools {
    background-color: #73000a;
    padding: 40px 0;
}

#offices-divisions {
    background-color: #73000a;
    padding: 40px 0;
}

#tools {
    background-color: #73000a;
    padding: 40px 0;
}

.section-container {
    display: flex;
}

.section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}





