/* Structure*/
body, h1,p,ul,li{
    margin: 0;
    padding: 0;
}
/*navigation*/

.horizontal-list {
    list-style: none; /* Remove the default list bullet points */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox to create a horizontal layout */
    text-align: center;
}

.horizontal-list li {
    margin-right: 10px; /* Add spacing between list items */
}
h2{
    font-size: 24px;
}
/* list links */
ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0079c2;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #ff9900;
}

/* Additional styles for specific sections */
#colleges-schools {
    background-color: #73000a;
    padding: 40px 0;
}

#offices-divisions {
    background-color: #73000a;
    padding: 40px 0;
}

#tools {
    background-color: #73000a;
    padding: 40px 0;
}

@media(max-width:600px){
    ul{
        display: flex;
    }
    li{
        flex: 1;
    }
    #flex-container1{
        flex: 2
        ;
    }
}



