/* Structure*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}

/*Navigation*/
#nav-toggle {
    display: block;
    cursor: pointer;
}
#nav-toggle div {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
#main-header.active #main-nav-items {
    display: block;
  }
ul{
    list-style: none;
    display: flex;
    text-align: center ;
}
li{  
    margin-bottom: 10px;
    flex: 1;
}
/* orginal nav color */
a{
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

/* hover color */
a:hover{  
    color: beige;
}
/* typography */

#fact2 {
    text-align: right;
}
/* Larger resolution */